/*---------------------------------- font -------------------------------------*/

@import url("http://hello.myfonts.net/count/2b4dc2");
@font-face {font-family: 'Scene Std Bold';src: url('http://digitalsocial.eu/webfonts/2B4DC2_0_0.eot');src: url('http://digitalsocial.eu/webfonts/2B4DC2_0_0.eot?#iefix') format('embedded-opentype'),url('http://digitalsocial.eu/webfonts/2B4DC2_0_0.woff') format('woff'),url('http://digitalsocial.eu/webfonts/2B4DC2_0_0.ttf') format('truetype');}
@font-face {font-family: 'Scene Std Medium';src: url('http://digitalsocial.eu/webfonts/2B4DC2_1_0.eot');src: url('http://digitalsocial.eu/webfonts/2B4DC2_1_0.eot?#iefix') format('embedded-opentype'),url('http://digitalsocial.eu/webfonts/2B4DC2_1_0.woff') format('woff'),url('http://digitalsocial.eu/webfonts/2B4DC2_1_0.ttf') format('truetype');}

/*---------------------------------- viz -------------------------------------*/

#main {
  position: relative;
}

#viz {
  margin: 0 auto;
}

#viz h1 {
  width: 994px;
  margin: 2em auto 1.5em auto;
  clear: both;
}

#mainViz {
  min-height: 50px;
  width: 100%;
  overflow: hidden;
}

#introViz {
  min-height: 50px;
  width: 100%;
  overflow: hidden;
}

#introViz {
  background: black;
}

#mainViz + h1 {
  margin-top: 1em;
}

/*---------------------------------- intro -------------------------------------*/

#introViz {
  position: absolute;
  top: 0;
  left: 0;
}

#introViz {
  color: white;
  font-family: 'Scene Std', sans-serif;
}

#introVizContent {
  padding-top: 2em;
  width: 994px;
  margin: 0 auto;
}

#introViz h1 {
  position: absolute;
  margin: 0;
  font-family: 'Scene Std', sans-serif;
  font-weight: normal;
  font-size: 170%;
  line-height: 120%;
}

#introViz h2 {
  font-family: 'Scene Std', sans-serif;
  font-size: 120%;
  font-weight: lighter;
}

#introViz h3 {
  font-family: 'Scene Std', sans-serif;
  font-size: 85%;
  font-weight: normal;
  width: 50%;
  margin: 0 0 2em 0;
  padding: 0;
  float: left;
}

#introViz .col {
  width: 50%;
  float: left;
}

#introViz a {
  font-size: 70%;
  display: block;
  width: 40%;
  float: left;
  height: 4em;
  line-height: 130%;
  box-sizing: border-box;
}

#introViz a img {
  vertical-align: top;
  margin: 0 0.75em 0 0;
}

#introViz a span {
  display: inline-block;
  width: 85%;
}

#introVizMapBtn {
  position: absolute;
  left: 50%;
}

#introVizMapBtn img {
  margin-top: 170px;
  margin-left: -200px;
}

#introVizExploreBtn {
  position: absolute;
  left: 50%;
}

#introVizExploreBtn img {
  margin-top: 170px;
  margin-left: 10px;
}

#introVizMapBtn img,
#introVizExploreBtn img {
  transition: transform 0.2s; -webkit-transition: -webkit-transform 0.2s; -moz-transition: -moz-transform 0.2s;
  transform: scale(0.9); -webkit-transform: scale(0.9); -moz-transform: scale(0.9);
}

#introVizMapBtn img:hover,
#introVizExploreBtn img:hover {
  transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1);
}


/*---------------------------------- carousel -------------------------------------*/

#caseStudiesViz {
}

#carousel {
  width: 1008px;

  margin: 0 auto;
}

#carousel .button {
  cursor: pointer;
  margin-top: 60px;
  font-size: 40px;
}

#carousel .button-prev {
  float: left;
  margin-left: -40px;
}

#carousel .button-next {
  float: right;
  margin-right: -40px;
}

#carousel .carousel-wrapper {
  width: 1008px;

  height: 133px;

  overflow: hidden;
  position: relative;
}

#carousel .carousel-item {
  float: left;
  background: #ECECEC;
}

#carousel .carousel-item,
#carousel .carousel-item img {
  width: 238px;
  height: 133px;
}

#carousel .carousel-item a {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  text-decoration: none;
}

#carousel .carousel-item span {
  display: block;
  position: absolute;

  top: 133px;
  left: 0;
  width: 238px;
  height: 133px;

  padding-top: 20px; /* ugly text hand centering */
  text-align: center;

  background: rgba(234, 235, 235, 0.75);
  color: black;
  font-size: 90%;


  -webkit-transition: top 300ms;
  transition: top 300ms;
}

#carousel .carousel-item:hover span {
  top: 0;
}

#carousel .carousel-item span img {
  width: 110px;
  height: 125px;
  width: 55px;
  height: 62px;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

/*---------------------------------- eu countries -------------------------------------*/

#countriesVizTitle a {
  font-family: "Scene Pro Light", "Helvetica", sans-serif;
  font-weight: 100;
  color: #999;
  text-decoration: none;
}

#countriesVizTitle a:hover {
  color: #000;
}

#countriesViz {
  width: 994px;
  margin: 0 auto;
  overflow: auto;
}

#countriesViz .map {
  font-family: "Scene Pro", "Helvetica", sans-serif;
  width: 112px;
  display: block;
  float: left;
  padding: 0;
  margin-right: 14px;
  color: #222222;
}

#countriesViz .map:nth-child(8n+0) {
  margin-right: 0;
}

#countriesViz .map:nth-child(8n+9) {
  clear: left;
}

#countriesViz .area-chart {
  margin-bottom: 20px;
}

#countriesViz .project-count,
#countriesViz .funds-count {
  margin-bottom: 20px;
}

#countriesViz .project-count .title,
#countriesViz .funds-count .title {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

#countriesViz .project-count .count,
#countriesViz .funds-count .count {
  font-size: 32px;
}

#countriesViz .country-name {
  font-size: 18px;
  margin-bottom: 30px;
}

#countriesViz .country svg path {
  fill: #999999;
  stroke: #999999;
}

/*---------------------------------- choropleth --------------------------------------*/

#choroplethViz svg {
	display: block;
	margin: 0 auto;
}

#choroplethViz text {
  font-family: "Scene Pro", "Helvetica", sans-serif;
	font-weight: 300;
	font-size: 16px;
	fill: #222222;
}

/*---------------------------------- explorer ----------------------------------------*/

#explorerViz {
	padding-bottom: 80px;
}

#explorerViz svg {
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
}

/*---------------------------------- key ----------------------------------------*/

#vizKeyContainer {
  background: #000;
  width: 180px;
  position: absolute;
  top: 146px;
  left: -180px;
  transition: left 0.5s; -webkit-transition: left 0.5s; -moz-transition: left 0.5s; -ms-transition: left 0.5s;
}

#vizKeyContainer:hover {
  left: -170px;
}

#vizKeyContainer.open {
  left: 0;
}

#vizKeyContainer #vizKeySideBar {
  padding: 0 1em 1em 1em;
  font-size: 12px;
}

#vizKeyContainer h3 {
  color: white;
  font-weight: normal;
  margin: 2em 0 1em 0;
  font-size: 100%;
}

#vizKeyContainer h3 img {
  vertical-align: middle;
  margin-bottom: 0.1em;
}

#vizKeyContainer a {
  font-size: 90%;
  display: block;
  margin-bottom: 1.2em;
  line-height: 150%;
  color: #FFF;
  float: none;
}

#vizKeyContainer img {
  vertical-align: top;
  margin-right: 1em;
}

#vizKeyThumb {
  background: black;
  color: white;
  transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg);
  position: absolute;
  top: 86px;
  left: 94px;
  width: 200px;
  cursor: pointer;
}

#vizKeyThumb span {
  display: block;
  padding: 0.5em 0.5em;
  font-size: 14px;
}