/*---------------------------------- font -------------------------------------*/

@import url("http://hello.myfonts.net/count/2b4dc2");
@font-face {font-family: 'Scene Std Bold';src: url('http://digitalsocial.eu/webfonts/2B4DC2_0_0.eot');src: url('http://digitalsocial.eu/webfonts/2B4DC2_0_0.eot?#iefix') format('embedded-opentype'),url('http://digitalsocial.eu/webfonts/2B4DC2_0_0.woff') format('woff'),url('http://digitalsocial.eu/webfonts/2B4DC2_0_0.ttf') format('truetype');}
@font-face {font-family: 'Scene Std Medium';src: url('http://digitalsocial.eu/webfonts/2B4DC2_1_0.eot');src: url('http://digitalsocial.eu/webfonts/2B4DC2_1_0.eot?#iefix') format('embedded-opentype'),url('http://digitalsocial.eu/webfonts/2B4DC2_1_0.woff') format('woff'),url('http://digitalsocial.eu/webfonts/2B4DC2_1_0.ttf') format('truetype');}

/*---------------------------------- viz -------------------------------------*/

#main {
  position: relative;
}

#viz {
  margin: 0 auto;
}

#viz h1 {
  width: 994px;
  margin: 2em auto 1.5em auto;
  clear: both;
}

#mainViz {
  min-height: 50px;
  width: 100%;
  overflow: hidden;
}

#introViz {
  width: 100%;
  overflow: hidden;
  z-index: 2000;
}

#mainViz + h1 {
  margin-top: 1em;
}

/*---------------------------------- intro -------------------------------------*/

#introViz {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-family: 'Scene Std', sans-serif;
  background: rgba(0, 0, 0, 0.7);
}

#introHex {
  margin: 1em 0;
}

#introVizContent {
  width: 994px;
  margin: 0 auto;
  height: 100%;
}

#introVizContent .introColumn {
  width: 322px;
  height: 100%;
  margin-left: 14px;
  float: left;
  display: -webkit-flexbox; display: -ms-flexbox; display: -webkit-flex; display: flex;
  -webkit-flex-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;
}

#introVizContent .introColumn .introColumnContent {
  -webkit-flex-direction: column; -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column;
}

#introVizContent .introColumn .exploreBtn {
  background: #00B993;
  font-size: 150%;
  text-align: center;
  box-sizing: border-box;
  padding: 0.5em;
  -webkit-transition: background 0.2s; -moz-transition: background 0.2s; transition: background 0.2s;
  cursor: pointer;
}

#introVizContent .introColumn .exploreBtn:hover {
  background: #00DBAE;
}

#introVizContent .introColumn:first-child {
  margin-left: 0;
}

#introVizContent h1 {
  font-size: 13px;
  text-transform: uppercase;
  width: 322px;
  text-align: center;
  margin-bottom: 0;
}

#introVizContent p {
  font-size: 14px;
  line-height: 120%;
  padding: 0 0.5em;
}

/*
#introViz h1 {
  position: absolute;
  margin: 0;
  font-family: 'Scene Std', sans-serif;
  font-weight: normal;
  font-size: 170%;
  line-height: 120%;
}

#introViz h2 {
  font-family: 'Scene Std', sans-serif;
  font-size: 120%;
  font-weight: lighter;
}

#introViz h3 {
  font-family: 'Scene Std', sans-serif;
  font-size: 85%;
  font-weight: normal;
  width: 50%;
  margin: 0 0 2em 0;
  padding: 0;
  float: left;
}

#introViz .col {
  width: 50%;
  float: left;
}

#introViz a {
  font-size: 70%;
  display: block;
  width: 40%;
  float: left;
  height: 4em;
  line-height: 130%;
  box-sizing: border-box;
}

#introViz a img {
  vertical-align: top;
  margin: 0 0.75em 0 0;
}

#introViz a span {
  display: inline-block;
  width: 85%;
}

#introVizMapBtn {
  position: absolute;
  left: 50%;
}

#introVizMapBtn img {
  margin-top: 170px;
  margin-left: -200px;
}

#introVizExploreBtn {
  position: absolute;
  left: 50%;
}

#introVizExploreBtn img {
  margin-top: 170px;
  margin-left: 10px;
}

#introVizMapBtn img,
#introVizExploreBtn img {
  transition: transform 0.2s; -webkit-transition: -webkit-transform 0.2s; -moz-transition: -moz-transform 0.2s;
  transform: scale(0.9); -webkit-transform: scale(0.9); -moz-transform: scale(0.9);
}

#introVizMapBtn img:hover,
#introVizExploreBtn img:hover {
  transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1);
}
*/
/*---------------------------------- main map -------------------------------------*/

#map .leaflet-fullscreen-button {
  background-image: url(assets/leaflet-fullscreen.png);
}

#map .leaflet-center-button {
  background-image: url(assets/leaflet-center.png);
}

/*---------------------------------- carousel -------------------------------------*/

#caseStudiesViz {
  margin-top: -1em;
}

#carousel {
  width: 1008px;

  margin: 0 auto;
}

#carousel .button {
  cursor: pointer;
  margin-top: 70px;
  font-size: 40px;
}

#carousel .button-prev {
  float: left;
  margin-left: -40px;
}

#carousel .button-next {
  float: right;
  margin-right: -40px;
}

#carousel .carousel-wrapper {
  width: 1008px;

  height: 181px;

  overflow: hidden;
  position: relative;
}

#carousel .carousel-item {
  float: left;
  background: #ECECEC;
}

#carousel .carousel-item,
#carousel .carousel-item img {
  width: 322px;
  height: 181px;
}

#carousel .carousel-item a {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  text-decoration: none;
}

#carousel .carousel-item > span {
  display: block;
  position: absolute;

  top: 181px;
  /* top: 0; */
  left: 0;
  width: 322px;
  height: 181px;

  padding-top: 20px; /* ugly text hand centering */
  text-align: center;

  background: rgba(234, 235, 235, 0.75);
  color: black;

  font-family: "Scene Std Medium", "Helvetica", sans-serif;

  -webkit-transition: top 300ms;
  transition: top 300ms;

  cursor: pointer;
}

#carousel .carousel-item:hover > span {
  top: 0;
}

#carousel .carousel-item span > img {
  width: 110px;
  height: 125px;
  width: 55px;
  height: 62px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-right: 80px;
  padding-left: 80px;
  margin-top: 20px;
  border-bottom: 2px solid black;
}

#carousel .carousel-item span .name {
  display: block;
  padding-top: 10px;
}

#carousel img.preloading {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 40px;
  width: auto;
  margin-left: -20px;
  margin-top: -20px;
}

/*---------------------------------- carousel popup -----------------------------------*/

#carousel-popup {
  position: fixed;
  width: 60%;
  height: 60%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  background: white;
  border: 1px solid #eee;
  box-shadow: 0px 10px 15px #999;
}

#carousel-popup .title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Scene Pro", "Helvetica", sans-serif;
  font-size: 20px;
}

#carousel-popup .content-container {
  height: 90%;
  overflow: scroll;
}

#carousel-popup .content {
  font-family: Helvetica, sans-serif;
  font-size: 15px;

  padding: 25px;
}

#carousel-popup .content .cover {
  float: left;
  padding-right: 10px;
  padding-bottom: 5px;
}

#carousel-popup .content p {
  margin-bottom: 0.2em;
}

#carousel-popup .content p a {
  color: #000;
}

/*---------------------------------- eu countries -------------------------------------*/

#countriesVizTitle a {
  font-family: "Scene Pro Light", "Helvetica", sans-serif;
  font-weight: 100;
  color: #999;
  text-decoration: none;
}

#countriesVizTitle a:hover {
  color: #000;
}

#countriesViz {
  width: 994px;
  margin: 0 auto;
  overflow: hidden;
}

#countriesViz .map {
  font-family: "Scene Pro", "Helvetica", sans-serif;
  width: 112px;
  display: block;
  float: left;
  padding: 0;
  margin-right: 14px;
  color: #222222;
}

#countriesViz .map:nth-child(8n+0) {
  margin-right: 0;
}

#countriesViz .map:nth-child(8n+9) {
  clear: left;
}

#countriesViz .area-chart {
  margin-bottom: 20px;
}

#countriesViz .project-count,
#countriesViz .funds-count {
  margin-bottom: 20px;
}

#countriesViz .project-count .title,
#countriesViz .funds-count .title {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

#countriesViz .project-count .count,
#countriesViz .funds-count .count {
  font-size: 32px;
}

#countriesViz .country-name {
  font-size: 18px;
  margin-bottom: 30px;
}

#countriesViz .country svg path {
  fill: #999999;
  stroke: #999999;
}

/*---------------------------------- choropleth --------------------------------------*/

#choroplethViz svg {
  display: block;
  margin: 0 auto;
}

#choroplethViz text {
  font-family: "Scene Pro", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 16px;
  fill: #222222;
}

/*---------------------------------- explorer ----------------------------------------*/

#explorerViz {
  padding-bottom: 80px;
}

#explorerViz svg {
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

/*---------------------------------- main stats ---------------------------------*/

#mainStatsViz {
  width: 994px;
  margin: 0 auto;
}

#mainStatsViz .section {
  position: relative;
  overflow: auto;
}

#mainStatsViz div.title {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 6px;
}

#mainStatsViz div.subtitle {
  margin-bottom: 30px;
  font-size: 18px;
  color: #9B9B9B;
}

#mainStatsViz div.column {
  float: left;
  margin-bottom: 20px;
}

#mainStatsViz svg {
  display: block;
}

#mainStatsViz div.count {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 6px;
}

#mainStatsViz div.name {
  height: 50px;
  overflow: hidden;
  font-size: 16px;
  color: #9B9B9B;
}

/*---------------------------------- key ----------------------------------------*/

#vizKeyContainer {
  background: #000;
  width: 180px;
  position: absolute;
  top: 146px;
  left: -180px;
  padding-bottom: 10px;
  transition: left 0.5s; -webkit-transition: left 0.5s; -moz-transition: left 0.5s; -ms-transition: left 0.5s;
}

#vizKeyContainer:hover {
  left: -170px;
}

#vizKeyContainer.open {
  left: 0;
}

#vizKeyContainer #vizKeySideBar {
  font-size: 12px;
}

#vizKeyContainer h3 {
  color: white;
  font-weight: normal;
  margin: 2em 0 1em 0;
  font-size: 14px;
}

#vizKeyContainer h3 img {
  vertical-align: middle;
  margin-bottom: 0.5em;
}

#vizKeyContainer a {
  font-size: 12px;
  display: block;
  line-height: 150%;
  color: #BBB;
  float: none;
}

#vizKeySideBar > h3,
#vizKeySideBar > a {
  padding-left: 10px;
  padding-right: 10px;
}

#vizKeySideBar > a {
  padding-left: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#vizKeyContainer a:hover, #vizKeyContainer a.active {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

#vizKeyContainer a.filterLink {
  background-repeat: no-repeat;
  background-position: 10px 9px;
  background-size: 10px 10px;
}

#vizKeyContainer a.filterLink.funding-acceleration-and-incubation { background-image: url(assets/triangle-funding-acceleration-and-incubation.png)}
#vizKeyContainer a.filterLink.collaborative-economy { background-image: url(assets/triangle-collaborative-economy.png)}
#vizKeyContainer a.filterLink.open-democracy { background-image: url(assets/triangle-open-democracy.png)}
#vizKeyContainer a.filterLink.awareness-networks { background-image: url(assets/triangle-awareness-networks.png)}
#vizKeyContainer a.filterLink.new-ways-of-making { background-image: url(assets/triangle-new-ways-of-making.png)}
#vizKeyContainer a.filterLink.open-access { background-image: url(assets/triangle-open-access.png)}

#vizKeyContainer a.filterLink.funding-acceleration-and-incubation.active { background-color: #FDE302; }
#vizKeyContainer a.filterLink.collaborative-economy.active { background-color: #A6CE39; }
#vizKeyContainer a.filterLink.open-democracy.active { background-color: #F173AC; }
#vizKeyContainer a.filterLink.awareness-networks.active { background-color: #ED1A3B; }
#vizKeyContainer a.filterLink.new-ways-of-making.active { background-color: #F58220; }
#vizKeyContainer a.filterLink.open-access.active { background-color: #7BAFDE; }

#vizKeyContainer a.filterLink.open-hardware { background-image: url(assets/tech-open-hardware-off.png)}
#vizKeyContainer a.filterLink.open-networks { background-image: url(assets/tech-open-network-off.png)}
#vizKeyContainer a.filterLink.open-knowledge { background-image: url(assets/tech-open-knowledge-off.png)}
#vizKeyContainer a.filterLink.open-data { background-image: url(assets/tech-open-data-off.png)}

#vizKeyContainer a.filterLink.open-hardware.active { background-image: url(assets/tech-open-hardware.png)}
#vizKeyContainer a.filterLink.open-networks.active { background-image: url(assets/tech-open-network.png)}
#vizKeyContainer a.filterLink.open-knowledge.active { background-image: url(assets/tech-open-knowledge.png)}
#vizKeyContainer a.filterLink.open-data.active { background-image: url(assets/tech-open-data.png)}

#vizKeyContainer a.filterLink.funding-acceleration-and-incubation.active,
#vizKeyContainer a.filterLink.collaborative-economy.active,
#vizKeyContainer a.filterLink.open-democracy.active,
#vizKeyContainer a.filterLink.awareness-networks.active,
#vizKeyContainer a.filterLink.new-ways-of-making.active,
#vizKeyContainer a.filterLink.open-access.active {
  background-image: url(assets/triangle-white.png)
}

#vizKeyContainer a.filterLink.open-hardware.active,
#vizKeyContainer a.filterLink.open-networks.active,
#vizKeyContainer a.filterLink.open-knowledge.active,
#vizKeyContainer a.filterLink.open-data.active {
  background-color: #CCC;
}

#vizKeyContainer img {
  vertical-align: top;
  margin-right: 1em;
}

#vizKeyThumb {
  background: #00B993;
  color: white;
  transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg);
  position: absolute;
  top: 85px;
  left: 96px;
  width: 197px;
  cursor: pointer;
}

#vizKeyThumb span {
  display: block;
  padding: 0.5em 0.5em;
  font-size: 14px;
}

/*---------------------------------- tooltip ----------------------------------------*/

#vizTooltip {
  font-family: 'Scene Std', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.2em;
  background: #333;
  color: white;
  font-size: 80%;
  max-width: 300px;
  font-size: 12px;
  line-height: 140%;
  display: none;
  z-index: 9999;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.15);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.15);
}

#vizTooltip h4 {
  margin: 0 0 1em 0;
}

/*---------------------------------- tooltip ----------------------------------------*/

#vizPopup {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.2em;
  background: #333;
  color: white;
  font-size: 80%;
  max-width: 300px;
  font-size: 12px;
  line-height: 140%;
  x-display: none;
  box-sizing: border-box;
}

#vizPopup span {
  display: block;
  margin: 0 0 1em 0;
}

#vizPopupPointer {
  width: 20px;
  height: 20px;
  background: #333;
  position: absolute;
  bottom: 0%;
  left: 50%;
  margin: 0 0 -10px -10px;

  transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg);
}

#vizPopupContent {
  max-height: 200px;
  overflow: scroll;
}

#vizPopupContent a {
  color: white;
  display: block;
  line-height: 150%;
}

/*---------------------------------- preloader ----------------------------------------*/

#vizPreloader {
  position: absolute;
  top: 0;
  left: 50%;
  top: 200px;
  height: 80px;
  width: auto;
  margin-left: -40px;
  margin-top: -40px;
}

/*---------------------------------- organisation -----------------------------------*/

.viz-1 h2,
.viz-2 h2,
.viz-3 h2 {
  margin-bottom: 4px;
}

.viz-1 svg .title,
.viz-2 svg .title {
  font-family: "Helvetica";
  font-size: 12px;
}

/*---------------------------------- organisation -----------------------------------*/

#bigHexViz {
  color: white;
  font-family: 'Scene Std', sans-serif;
}
